body{
    font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-size: 18px;
}
header{
background-color: #78c091;
text-align: center;
padding: .5rem;
color: white;

}
header > img {
width: 150px;
height: auto;
vertical-align: middle;

}
.headertext {
    display: inline-block;
    vertical-align: middle;

}
.headertext h1{
    font-size: 3rem;

}
.motto{
    font-size: 1.9rem;
    color:black;
    font-style: italic;

}
.currentconditions{
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: white;
    background-color: blue;
    border: 1pt solid black;
    font-size: 1.1rem;

}
.currentconditions img {
    width: 90px;
    height: auto;


}
nav button {
    margin: .2rem 2%;
    background-color: black;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav ul.hide {
    display: none;}

ul li  {
    padding: 40px 16px;    
    border-bottom: 1px solid #ddd;
    background-color: #74b3ce;
    font-size: 2rem;       
    text-align: center;
    list-style-type: none;
          
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: green;
    text-decoration: none;
  }
  a:hover {
    color: red;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
    background-color: #915071;
  }
  h2 {
    text-align: center;  
  }

  div.hero {
    margin: 10px auto;
    position: relative;    
    width: 100%;
    height: 400px;
    padding: .5rem;
  }

  .hero-ph > img { 
    
    margin: 10px auto;        
    width: 100%;
    height: auto;
    padding: .5rem;
  }
  .weathersummary {
      position: absolute;
      top: 20px;
      left: 25px;
      background-color: #78c091;
      padding: .5rem;
      box-shadow: 0 0 30px #777;
      
  }

  div.weatherGallery {
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

div.weatherGallery figure {
    margin: 1rem 0;
}

div.weatherGallery figure img {
    width: 100%;
}

div.weatherGallery figure figcaption {
    text-align: center;
    font-size: 1.2rem;
    padding: 2% 1%;
}

  h3 {
    text-align: center;
  }
  section.forecast {
    display: none; 
  
  }
  .snowart img {
  display: block;
  
  width: 300px;
  height: 300px;  
  margin: 10px;
  border-bottom: 20px;
}
  .snowart {
      display: block;
      text-align: left;
      text-indent: 20px; 
  }
  
 


  footer{
    background-color: #78c091;
    text-align: center;
    padding: .5rem;
    color: white;
    }
    div#map image{
        display: block;
        width: 300px; height: 200px;
        margin: 10px;        
        float: right;
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
   